.gannt_container {
    display: flex;
}

.left {
    /* width: aut; */
}

.right {
    flex: 1;
}

.gantt_body {
    width: 100%;
    padding: 5px 10px;
}

.gantt_item,
.gantt_overall {
    /* width: 50%; */
    /* border: 1px solid red; */
    margin: 10px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.gannt_edit {
    padding: 5px;
    /* display: none; */
    width: 500px;
    /* display: none; */
}

.gannt_edit textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: #e1e1e1;
    border-radius: 5px;
}

/* .gantt_item:nth-of-type(2) { */
.gantt_item:nth-child(3) {
    /* box-shadow: 0px 0px 40px darkred; */
    animation: huxi 800ms linear infinite alternate;
}

@keyframes huxi {
    from {
        box-shadow: 0px 0px 5px 0px #00ff00;
    }
    to {
        box-shadow: 0px 0px 15px 0px #00ff00;
    }
}

.gantt_item {
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 40px;
}

.gantt_new {
    float: right;
    margin-right: 35px;
}

.ganntTitle {
    width: 180px;
    background-color: #dddddd;
    border-radius: 6px;
}

.ip_addr{
    margin: 5px;
}

.TaskList{
    margin-left: 10px;
    margin-right: 10px;
}

.TaskList > .menu{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(212, 227, 212); */
}

.TaskList > .POP{
    border: 1px solid;
    height: 200px;
}

.goto{
    /* background-image: url(../public/dog.png); */
    /* background-size: 100% 100%; */
    width: 90px;
    height: 60px;
    position: fixed;
    top: calc( 100vh - 60px - 20px);
    left: 10px;
}