.knowledge_body {
	/* background-color: rgba(0xf1, 0xf7, 0xfd, 0.1); */
	/* background-color: rgb(240, 240, 240); */
	/* background-image: url( './bg.webp' ); */
	/* background-repeat: no-repeat; */
	/* background-size: 100% 100%; */
	margin-bottom: 30px;
	border-bottom: 1px dotted #6FA8DC;
	/* border: 10px red solid; */
}

/* 导航栏，位于左侧，宽度固定 */
.nav {
	width: 20%;
	flex-grow: 0;
	flex-shrink: 0;
	/* background-color: rgba(120, 120, 120, 1) */
	/* background-color:#ffffdd; */
}

/* POST展示区,自动 */
.post {
	/* overflow: auto：内容超出容器时会自动显示滚动条。如果内容未超出容器，则不显示滚动条 */
	overflow: auto;	
	flex-grow: 1;
	/* 自动填满剩余的宽度 */
	margin-right: 20%;
	margin-left: 60px;
	/* border: 1px solid rgb(213, 213, 213); */
	box-shadow: 0 0 4px 0 rgba(6, 67, 153, .14);
	box-sizing: border-box;
	border-radius: 12px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 20px;

	/* border: 10px red solid; */

	/* background-color:#ffffdd; */
	/* background-image: image( 'bg.webp' );
	background-repeat: repeat; */
}

.post_metadata {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 5px solid rgba(191, 183, 225, 0.2); 
	border-radius: 1px;
	/* border: 10px red solid; */
}

.post_title {
	font-size: 35px;
	font-weight: 600;
	/* border: 10px red solid; */
}

.post_metadata>div {
	font-size: 12px;
	color: #999999;
}

.post_metadata_no_tips {
	display: none;
}

.post_metadata_tips {
	position: absolute;
	top: -20px;
	left: -200px;
	background-color: #ffffdd;
}

/*textarea 填满父容器*/
.post>.postEditor textarea {
	width: 100%;
	height: 100%;
	border: 1px dotted;
	resize: none;
	/* 使用 resize: none; 来禁用 textarea 右下角的拖动图标 */
}

.post>.postEditor {
	padding: 10px 10px;
}

.Nav_group {
	margin: 10px;
}

.Nav_title {
	/* background-color: aqua; */
	/* background-color: hwb(69 85% 6%); */
	background: linear-gradient(to right, hwb(69 85% 6%) 0%, rgba(0, 0, 255, 0) 80%);

}

.Nav_title button {
	float: right;
	border: none;
}

.Nav_group_shrink {
	display: none;
}

.Nav_group_shrink {
	display: none;
}

.Nav_item {
	/* background-color: hwb(69 85% 6%); */
	background: linear-gradient(to right, hwb(69 85% 6%) 0%, rgba(0, 0, 255, 0) 100%);
	margin-left: 1.5em;
	margin-top: 3px;
	/* border: 0.5px solid; */
	/* visibility: hidden; */
}

.Nav_item_active {
	background-color: hwb(198 75% 18%);
	margin-left: 1.5em;
	margin-top: 3px;
	/* border: solid 1px red; */
}

#content h2 {
	width: 80%;
	position: relative;
	margin: 10px 0;
	color: #FFFFFF;
	/* background: #6FA8DC; */
	background: linear-gradient(to right, rgb(111, 168, 220) 0%, rgba(0, 0, 255, 0) 100%);
	padding: 6px 10px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
}

#content h3 {
	position: relative;
	margin: 10px 0 8px 0;
	color: #0d5a96;
	background: #f1f7fd;
	border: 1px dashed #cae0f3;
	border-left: 3px solid #49a7ea;
	padding: 6px 10px;
	font-size: 16px;
	font-weight: bold;
}

#content blockquote {
	margin: 1.5em 0;
	padding: 1rem 1.5rem;
	/* position: relative; */
	background-color: #f6f6f6;
	border-left: 0.35rem solid #f75357;
	border-radius: 0.35rem;
	transition: all 0.5s ease-out;
}

#content textarea {
	background: #ffffdd;
	width: 100%;
	/* height: 100%; */
	border: none;
	outline: none;
	padding: 0.625rem 0.625rem 0 0.625rem;
	/* min-height: 13rem; */
	resize: none;
}

.code {
	display: flex;
	flex-direction: column;
}

.codeItem {
	display: flex;
}

.codeItem>.num {
	text-align: right !important;
	padding: 0 1.5em 0 1em !important;
	width: 5px;
	background-color: #fcfcfc !important;
	white-space: pre !important;
	color: #9fb8cc;
	/* background-color: #49a7ea; */
	border-right: 3px solid #6ce26c !important;
}

.codeItem>.line {
	padding: 0 1em !important;
	flex-grow: 1;
	/* background-color: bisque; */
}

/* 概览块的样式 */
.overview {
	display: flex;
}

.kkTable{
	border: 1px solid;
	border-collapse: collapse;
    border-spacing: 0;
}

.kkTable li {
	margin: 0 0 0 24px;
	text-align: left;
	line-height: 1.58;
	color: #273235;
}

.kkTable td,th{
	border: 1px solid;
	padding: 15px;
	text-align: left;
	margin: 10px;
}

.kkTable th {
	text-align: center;
	background-color: #f9f9f9;
	font-weight: bold;
}

header {
	box-shadow: 0 0 .2rem #0000001a, 0 .2rem .4rem #0003;
	transition: transform .25s cubic-bezier(.1, .7, .1, 1), box-shadow .25s;
	background-color: #0d184c;
	color: #fff;
	display: block;
	left: 0;
	position: sticky;
	right: 0;
	top: 0;
	z-index: 4;
	height: 3.3rem;
}

.card {
	overflow: auto;
	display: inline-block;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(192, 200, 209);
	padding: 30px;
	background-color: rgb(250, 250, 239);
	box-shadow: rgb(170, 170, 170) 0px 0px 10px;
	box-sizing: border-box;
	visibility: visible;
	margin: 15px 0px;
}